<div class="container">
  <h1>Todo List</h1>

  <a class="new-task" href="/todos/new">タスクを追加する</a>

  <table>
    <thead>
      <tr>
        <th>タスク</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <!-- ここは後から動的コンテンツに置き換える -->
      <% @todos.each do |todo|%>
      <tr>
        <td><%= todo.title %></td>
        <td>
          <a class="edit" href="<%= edit_todo_path(todo) %>">編集</a>
        <%= button_to '削除', todo, method: :delete, data: { confirm: '本当に削除していいですか?' }, class: 'delete-button' %>

        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
